.lcred{
    background-color: red;
}
.lcblue{
    background-color: blue;
}
.lcgreen{
    background-color: green;
}
.lcyellow{
    background-color: yellow;
}
.lcorange{
    background-color: orange;
}